* {
    background-color: rgb(3, 163, 255);
    color: aliceblue;
    
}

.navbar {
    text-align: right;
    margin-top: -100px;
    padding: 0px;
    font-size: 25px;
    font-family: cursive;
}

.header {
    justify-content: left;
    font-size: 25px;
    font-family: cursive;
}