* {
    background-color: rgb(3, 163, 255);
    color: aliceblue;
    font-size: 25px;
    
}

.navbar {
    text-align: right;
    margin-top: -100px;
    font-size: 25px;
    font-family: cursive;
}

.header {
    justify-content: left;
    font-size: 30px;
    font-family: cursive;
}

.footer {
    z-index: 2;
    height: 50px;
    width: 50px;
}

.about--img {
    max-height: 400px;
}